.App {
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: all;
}

/* @media (prefers-reduced-motion: no-preference) { */
.App-logo {
  /* animation: App-logo-spin infinite 5s linear; */
  position: relative;
}
.App-logo.cheat-code {
  animation: App-logo-spin infinite 0.5s linear;
}
/* } */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  font-family: "PressStart", monospace;
}

.App-link {
  color: #61dafb;
}

label {
  width: 25%;
  display: inline-block;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}
.random-button {
  border: 0;
  background-color: #673ab7;
  padding: 20px 30px;
  cursor: "pointer";
  font-family: "PressStart";
  color: black;
  font-size: calc(2px + 2vmin);
}

.game-overlay {
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.game-popup {
  background-color: purple;
  padding: 50px;
  width: 100%;
}
.game-title {
  font-size: calc(6px + 2vmin);
  color: white;
  font-family: "PressStart", monospace;
  user-select: none;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
    bottom: 0;
  }
  25% {
    transform: rotate(-10deg);
    bottom: 30px;
  }
  50% {
    transform: rotate(0deg);
    bottom: 0;
  }
  75% {
    transform: rotate(10deg);
    bottom: 30px;
  }
  100% {
    bottom: 0;
  }
}
